*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 80px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body i,
button {
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* active links */
.navbar ul li a.active,
.desktop-nav ul li a.active {
  border-bottom: 2px solid var(--primary-green);
  color: var(--primary-green);
}
/* margins */
.mb-0 {
  margin-bottom: 0;
}

/* color */
:root {
  --primary-green: rgb(41, 137, 41);
  --primary-blue: rgb(85, 186, 226);
  --text-dark: #2f3e46;
}

/* section-space */
section {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  section {
    margin-bottom: 60px;
    margin-top: 10px;
  }
}

/* cta-btn */
.cta-btn {
  font-size: 16px;
  border: 1px solid var(--primary-green);
  border-radius: 8px;
  color: var(--primary-green);
  font-weight: 400;
  background-color: #fff;
  padding: 12px 24px;
  margin: 0px 50px 30px 50px;
  transition: all 1.5s linear;
}
.cta-btn:hover,
.cta-btn:focus {
  background-color: var(--primary-green);
  color: #fff;
  outline: none;
}

/* flex box */
.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* section-title */
.section-title {
  margin-bottom: 15px;
}
.section-title p {
  font-size: 15px;
  color: #000;
  padding: 15px 0;
  text-align: center;
}
.section-title h1 {
  font-size: 30px;
  color: var(--primary-green);
  font-weight: bold;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media (min-width: 768px) {
  .section-title {
    margin-bottom: 30px;
  }
  .section-title p {
    font-size: 18px;
  }
  .section-title h1 {
    font-size: 35px;
  }
}

/* mobile-header */
.hamburger {
  font-size: 25px;
  cursor: pointer;
}
.mobile-header {
  display: flex;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--text-dark);
  color: var(--text-dark);
  background-color: #fff;
}
.logo {
  width: 120px;
  height: 50px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: #fff;
}
.navbar {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid var(--text-dark);
}
.navbar ul {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.navbar ul li {
  text-align: center;
  margin-bottom: 8px;
}
.navbar ul li a {
  color: var(--primary-green);
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  display: block;
}
.navbar.active {
  display: block;
}

/* header */
.desktop-header {
  display: none;
}
.desktop-nav ul {
  display: flex;
  gap: 25px;
}
.desktop-nav ul li a {
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary-green);
}

@media (min-width: 768px) {
  .desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #fff;
    border-bottom: 1px solid var(--text-dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .mobile-header,
  .navbar {
    display: none;
  }
}

/* hero section */
.hero-text h1 {
  font-size: 40px;
  color: var(--primary-green);
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.hero-text p {
  color: #000;
  font-size: 14px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
}
.hero-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero-img img {
  width: 90%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    gap: 30px;
    margin-top: 100px;
  }
  .hero-text h1 {
    padding: 10px 30px;
    margin-top: 40px;
  }
  .hero-text p {
    font-size: 16px;
    padding: 15px 40px;
  }
  .hero-img img {
    width: 100%;
    max-width: 700px;
    margin: 0;
  }
}

/* features section */
.cards h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 15px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.cards p {
  font-size: 16px;
  color: grey;
  padding-bottom: 10px;
}
.features-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.cards {
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}
/* card flip animation */
.cards-img {
  width: 100%;
  height: 350px;
  perspective: 1000px;
  position: relative;
}
.img-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.cards-img:hover .img-inner {
  transform: rotateY(180deg);
}
.img-front,
.img-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}
.img-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
.img-back {
  background-color: var(--primary-green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  transform: rotateY(180deg);
  line-height: 1.5;
}
.img-back p {
  color: #fff;
  padding: 15px;
}

@media (min-width: 768px) {
  .features-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .cards {
    width: calc(50% - 40px);
    max-width: 400px;
  }
}

/* mission block */
.mission-text {
  padding: 30px 20px;
  background-color: #fff;
  margin-bottom: 0;
}
.mission-text p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-green);
  text-align: center;
  line-height: 1.6;
}
.mission-text button {
  margin-top: 30px;
  margin-bottom: 5px;
  color: var(--primary-blue);
  border-color: var(--primary-blue);
}
.mission-text .cta-btn:hover,
.mission-text .cta-btn:focus {
  background-color: var(--primary-blue);
  color: #fff;
  outline: none;
}
.mission-text small {
  font-size: 12px;
  color: gray;
}
/* Parallax Image Sections */
.parallax-img {
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 0;
}
.img1 {
  background-image: url("/images/de7bc2f3f4213cc712f6ed67af6521d3.jpg");
}
.img2 {
  background-image: url("/images/side-view-woman-hair-slugging-night-routine.jpg");
}
.img3 {
  background-image: url("/images/2dd720c1de3674672429d644a80fc386.jpg");
}
/* Overlay Text on Image */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(97, 90, 90, 0.4);
  padding: 40px;
  border-radius: 50%;
  text-align: center;
}
.overlay-text h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Testimonials block */
#testimonials .lrn-btn {
  margin-top: 30px;
  border: none;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: red;
  background-color: #fff;
  font-size: 16px;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 20px;
}
.testimonial-card {
  max-width: 700px;
  background-color: #f9f9f9;
  border-left: 5px solid var(--primary-green);
  border-radius: 10px;
  padding: 20px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05); */
  transition: transform 0.3s ease;
}
.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.testimonial-card .quote {
  font-size: 16px;
  color: #333;
  font-style: italic;
  line-height: 1.6;
}
.testimonial-card .author {
  margin-top: 10px;
  text-align: right;
  font-weight: 600;
  color: var(--primary-green);
}

@media (min-width: 768px) {
  .testimonial-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
    margin: 0 20px;
  }
  .testimonial-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1 1 400px;
    padding: 40px;
    width: 500px;
    height: 250px;
  }
}

/* sign up form */
.signup-section {
  background-image: url("/images/3f4d7914d1aae1b4ee06cb2c70cb7ca3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full screen height */
  width: 100%;
  padding: 60px 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
.signup-section h3 {
  font-size: 25px;
  color: var(--primary-green);
  font-weight: bold;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 30px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.signup-form input[type="text"],
.signup-form input[type="email"] {
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.signup-form .checkbox-label {
  font-size: 14px;
  color: #333;
}
.signup-btn {
  background-color: var(--primary-green);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.signup-btn:hover {
  background-color: #2a8b2a;
}
.signup-form small {
  font-size: 12px;
  color: gray;
}
.error {
  font-size: 13px;
  color: red;
  margin-top: 4px;
  display: block;
}
.success-message {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  color: green;
  text-align: center;
}

@media (min-width: 768px) {
  .signup-section h3 {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .signup-form {
    max-width: 600px;
  }
  .signup-form input[type="text"],
  .signup-form input[type="email"] {
    font-size: 18px;
  }
  .signup-form .checkbox-label {
    font-size: 16px;
  }
  .signup-btn {
    padding: 12px 30px;
    font-size: 16px;
  }
}

/* footer block */
.footer-section {
  background-color: #2f3e46;
  color: #fff;
  padding: 40px 20px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-container .footer-logo {
  width: 120px;
  height: 50px;
}
.footer-container .footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: #fff;
}
.footer-container h4 {
  margin-bottom: 10px;
  color: var(--primary-green);
  font-size: 16px;
}
.footer-links ul li {
  padding-bottom: 3px;
  font-size: 14px;
}
.footer-links ul li a {
  color: #fff;
}
.footer-contact p {
  font-size: 14px;
  padding-bottom: 3px;
}
.footer-social .social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
  padding: 5px;
}
.footer-bottom p {
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid #4e5d66;
  padding-top: 10px;
  font-size: 12px;
  color: gray;
}
